-#= form_for @article do |form|
-#  \...
-#  \#{form.cktext_area :title, :class => 'someclass', :ckeditor => {:language => 'uk'}}
-#  \...
-#  \#{form.cktext_area :preview, :value => 'Default value', :id => 'sometext'}
-#  \...
-#  \#{cktext_area :page, :body, :cols => 40, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini'}}
-#  \...

= form_for @article, :url => {  action: "edit"}, method: "post"  do |f|
  %table.table
    %tr
      %th
        Заголовок
      %td
        = f.text_field :title,  placeholder: "Заголовок", class: 'form-control'

    %tr
      %th
        Текст
      %td
        -#= f.text_area :body, class: "redactor", :rows => 40, :cols => 120
        = f.cktext_area :body, :cols => 80, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini'}

    %tr
      %th
        Изображение
      %td
        = image_tag(@article.image.url(:thumb)) if @article.image.present?
        = f.file_field :image

    %tr
      %td
      %td
        .pull-right
          = f.submit "Изменить", :class => "btn btn-primary", :disable_with => "Ждите"