.container.content-sm
  .row
    .col-md-12
      .pull-right
        %p
          = link_to "Добавить новость", articles_path, class: "btn-u btn-brd btn-brd-hover rounded-2x btn-u-blue" if user_signed_in?
  = render 'form'
  .row
    .col-sm-6.sm-margin-bottom-40
      .funny-boxes.funny-boxes-top-red
        - if user_signed_in?
          .row
            .pull-right
              = link_to root_path do
                %span.label.label-danger
                  %i.fa.fa-trash-o
              = link_to root_path do
                %span.label.label-warning
                  %i.fa.fa-pencil
        .row
          .col-md-4.funny-boxes-img
            %img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img12.jpg"}/
            %ul.list-unstyled
              %li
                %i.fa-fw.fa.fa-briefcase
                Dell, Google
              %li
                %i.fa-fw.fa.fa-map-marker
                New York, US
          .col-md-8
            %h2
              %a{:href => "#"} Praesentium Voluptatum


            %ul.list-unstyled.funny-boxes-rating
              %li
                %i.fa.fa-star
              %li
                %i.fa.fa-star
              %li
                %i.fa.fa-star
              %li
                %i.fa.fa-star
              %li
                %i.fa.fa-star
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.
            .pull-right
              = link_to "Прочитать полностью", full_page_article_path(1), class: "btn-u btn-u-sm"

    .col-sm-6
      .funny-boxes.funny-boxes-top-sea
        .row
          .col-md-4.funny-boxes-img
            %img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img16.jpg"}/
            %ul.list-unstyled
              %li
                %i.fa-fw.fa.fa-briefcase
                Dell, Google
              %li
                %i.fa-fw.fa.fa-map-marker
                New York, US
          .col-md-8
            %h2
              %a{:href => "#"} Oluptatum Box
            %ul.list-unstyled.funny-boxes-rating
              %li
                %i.fa.fa-star
              %li
                %i.fa.fa-star
              %li
                %i.fa.fa-star
              %li
                %i.fa.fa-star
              %li
                %i.fa.fa-star-o
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.
            .pull-right
              = link_to "Прочитать полностью", full_page_article_path(1), class: "btn-u btn-u-sm"

              / End Top Bordered Funny Boxes
              / Top Bordered Funny Boxes