
.headline
	%h2 Важные ссылки
.parnters
	.row
		%center
			.col-md-2
				= link_to image_tag('cl/5.png', style: "width: 120px;", alt: "Официальный портал органов власти Калужской области"), "http://www.admoblkaluga.ru/", "data-toggle" => "tooltip", title: "Официальный портал органов власти Калужской области"
		
			.col-md-2
				= link_to image_tag('cl/3.png', style: "width: 120px;", alt: "Калужский областной центр медицинской профилактики"), "http://budzdorov-kaluga.ru/", "data-toggle" => "tooltip", title: "Калужский областной центр медицинской профилактики"
			.col-md-2
				= link_to image_tag('cl/4.png', style: "width: 120px;", alt: "Территориальный фонд обязательного медицинского страхования Калужской области"), "http://oms.kaluga.ru/", "data-toggle" => "tooltip", title: "Территориальный фонд обязательного медицинского страхования Калужской области"
			.col-md-2
				= link_to image_tag('cl/6.png', style: "width: 120px;", alt: "Электронное правительство - Запись на прием к врачу"), "http://www.gosuslugi.ru/", "data-toggle" => "tooltip", title: "Электронное правительство - Запись на прием к врачу (gosuslugi.ru)"
			.col-md-2
				= link_to image_tag('cl/7.jpg', style: "width: 120px;", alt: "ФГБУ «ЦНИИОИЗ» Минздрава России"), "http://mednet.ru/", "data-toggle" => "tooltip", title: "ФГБУ «ЦНИИОИЗ» Минздрава России"
			.col-md-2
				= link_to image_tag('cl/5.png', style: "width: 120px;", alt: "Официальный портал Министерства здравоохранения Калужской области"), "http://www.admoblkaluga.ru/sub/health/", "data-toggle" => "tooltip", title: "Официальный портал Министерства здравоохранения Калужской области"