
.headline
	%h2 Важные ссылки
.parnters
	.row
		%center
			.col-md-2
				= link_to image_tag('cl/5.png', style: "width: 120px;", alt: "Официальный портал органов власти Калужской области"), "http://www.admoblkaluga.ru/sub/health/"
			.col-md-2
				= link_to image_tag('cl/3.png', style: "width: 120px;", alt: "Калужский областной центр медицинской профилактики"), "http://budzdorov-kaluga.ru/"
			.col-md-2
				= link_to image_tag('cl/4.png', style: "width: 120px;", alt: "Территориальный фонд обязательного медицинского страхования Калужской области"), "http://oms.kaluga.ru/"
			.col-md-2
				= link_to image_tag('cl/6.png', style: "width: 120px;", alt: "Электронное правительство - Запись на прием к врачу"), "http://www.gosuslugi.ru/"
			.col-md-2
				= link_to image_tag('cl/7.jpg', style: "width: 120px;", alt: "ФГБУ «ЦНИИОИЗ» Минздрава России"), "http://mednet.ru/"


	/ %table.table
	/ 	%tr
	/ 		%td
	/ 			.hero-unit{style: "width: 120px;"}
	/ 				= link_to image_tag('cl/5.png', style: "width: 120px;")
	/ 		%td
	/ 			.hero-unit{style: "width: 120px;"}
	/ 				= link_to image_tag('cl/2.png', style: "width: 120px;")
	/ 		%td
	/ 			.hero-unit{style: "width: 120px;"}
	/ 				= link_to image_tag('cl/1.png', style: "width: 120px;")
	/ 		%td
	/ 			.hero-unit{style: "width: 120px;"}
	/ 				= link_to image_tag('cl/3.png', style: "width: 120px;")
	/ 		%td
	/ 			.hero-unit{style: "width: 120px;"}
	/ 				= link_to image_tag('cl/4.png', style: "width: 120px;")   
	/ 		%td
	/ 			.hero-unit{style: "width: 120px;"}
	/ 				= link_to image_tag('cl/5.png', style: "width: 120px;")
	/ 		%td
	/ 			.hero-unit{style: "width: 120px;"}
	/ 				= link_to image_tag('cl/1.png', style: "width: 120px;")
	/ 		%td
	/ 			.hero-unit{style: "width: 120px;"}
	/ 				= link_to image_tag('cl/6.png', style: "width: 120px;")

/ .headline
/ 	%h2 Важные ссылки
/ .owl-clients-v1.owl-carousel.owl-theme{:style => "opacity: 1; display: block;"}
/ 	.owl-wrapper-outer
/ 		%center	
/ 			.owl-wrapper{:style => "width: 2934px; display: block;"}
/ 				.owl-item{}
/ 					.item
/ 						= link_to image_tag('cl/5.png', style: "width: 120px;"), root_path
/ 				.owl-item{}
/ 					.item
/ 						= link_to image_tag('cl/2.png', style: "width: 120px;"), root_path
/ 				.owl-item{}
/ 					.item
/ 						= link_to image_tag('cl/1.png', style: "width: 120px;"), root_path
/ 				.owl-item{}
/ 					.item
/ 						= link_to image_tag('cl/3.png', style: "width: 120px;"), root_path
/ 				.owl-item{}
/ 					.item
/ 						= link_to image_tag('cl/4.png', style: "width: 120px;"), root_path
/ 				.owl-item{}
/ 					.item
/ 						= link_to image_tag('cl/5.png', style: "width: 120px;"), root_path
/ 				.owl-item{}
/ 					.item
/ 						= link_to image_tag('cl/1.png', style: "width: 120px;"), root_path
/ 				.owl-item{}
/ 					.item
/ 						= link_to image_tag('cl/6.png', style: "width: 120px;"), root_path
/ 	.owl-controls.clickable
/ 		.owl-pagination
/ 			.owl-page.active
/ 				%span
/ 			.owl-page
/ 				%span
/ / End Owl Clients v1