.headline
	%h2 Важные ссылки
.owl-clients-v1.owl-carousel.owl-theme{:style => "opacity: 1; display: block;"}
	.owl-wrapper-outer
		.owl-wrapper{:style => "width: 2934px; display: block;"}
			.owl-item{:style => "width: 163px;"}
				.item
					= link_to image_tag('cl/5.png'), root_path
			.owl-item{:style => "width: 163px;"}
				.item
					= link_to image_tag('cl/2.png'), root_path
			.owl-item{:style => "width: 163px;"}
				.item
					= link_to image_tag('cl/1.png'), root_path
			.owl-item{:style => "width: 163px;"}
				.item
					= link_to image_tag('cl/3.png'), root_path
			.owl-item{:style => "width: 163px;"}
				.item
					= link_to image_tag('cl/4.png'), root_path
			.owl-item{:style => "width: 163px;"}
				.item
					= link_to image_tag('cl/5.png'), root_path
			.owl-item{:style => "width: 163px;"}
				.item
					= link_to image_tag('cl/1.png'), root_path
			.owl-item{:style => "width: 163px;"}
				.item
					= link_to image_tag('cl/6.png'), root_path
	.owl-controls.clickable
		.owl-pagination
			.owl-page.active
				%span
			.owl-page
				%span
/ End Owl Clients v1