.footer-v1
  .footer
    .container
      .row
        .col-md-3.md-margin-bottom-40
          %a{:href => "index.html"}
            = image_tag("MIAC_full_white.png", class: "white_footer")
          %br
            %p
              Официальный сайт
              Государственного Бюджетного Учреждения Здравоохранения Калужской области Медицинский информационно-аналитический Центр Калужской области.
        .col-md-3.md-margin-bottom-40
          .posts
            .headline
              %h2 Последние новости
            %ul.list-unstyled.latest-list
              - articles = Article.order("created_at DESC").publics.limit(3)
              - unless articles.present?
                %li
                  %a{:href => "#"} Данный раздел находится в наполнении
              - else
                - articles.each do |article|
                  %li
                    = link_to "#{article.title}", full_page_article_path(article.id)
                    %small
                      = I18n.l article.published_at, format: "%d %b %Y, %H:%M"


        .col-md-3.md-margin-bottom-40
          .headline
            %h2 Ссылки
          %ul.list-unstyled.link-list
            %li
              = link_to about_path do
                О нас
              %i.fa.fa-angle-right
            %li
              = link_to statistics_path do
                Статистика
              %i.fa.fa-angle-right
            %li
              = link_to projects_path do
                Проекты
              %i.fa.fa-angle-right
            %li
              = link_to service_path do
                Услуги
              %i.fa.fa-angle-right


        .col-md-3.map-img.md-margin-bottom-40
          .headline
            %h2 Контакты
          %address.md-margin-bottom-40
            Калужская область, г. Калуга

            %br
            ул. Вишневского д.1
            %br
            Email:
            %a{:href => "mailto:admin@miac.kaluga.ru"} admin@miac.kaluga.ru
  .copyright
    .container
      .row
        .col-md-6
          %p
            2015 © Все права защищены.
            %a{:href => "#"} ГБУЗ КО МИАЦ Калужской области

        / |
        .col-md-6
          %ul.footer-socials.list-inline
            / %li
            / 	%a.tooltips{"data-original-title" => "Facebook", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
            / 		%i.fa.fa-facebook
            %li
              %a.tooltips{"data-original-title" => "Skype", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-skype
            %li
              %a.tooltips{"data-original-title" => "Twitter", "data-placement" => "top", "data-toggle" => "tooltip", :href => "https://twitter.com/guzmiacko", :title => ""}
                %i.fa.fa-twitter

      .row
        .col-md-12
          %p{style: "font-size: 10px;"}
            Оптимальное разрешение: 1280х800. Рекомендуется использовать Google Chrome 32, Mozilla Firefox 26, Opera 19, Internet Explorer 9 и выше.