
.container
  .topbar
    %ul.loginbar.pull-right
      %li
        - unless user_signed_in?
          = link_to "#", "data-target" => "#myModal", "data-toggle" => "modal" do
            %i.fa.fa-sign-in
            Вход

        - else
          = link_to "#{current_user.email}",destroy_user_session_path, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите выйти из системы?' }



    %br

      -#%li.hoverSelector
      -#  %i.fa.fa-globe
      -#  %a Язык
      -#
      -#  %ul.languages.hoverSelectorBlock
      -#    %li{class: params[:lang].present? ? " " : "active"}
      -#      = link_to root_path do
      -#        Русский
      -#        - unless params[:lang].present?
      -#          %i.fa.fa-check
      -#    %li{class: params[:lang] == "en" ? "active" : ""}
      -#      = link_to root_path(lang: "en") do
      -#        English
      -#        - if params[:lang] == "en"
      -#          %i.fa.fa-check
    -#%br

  %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
    %span.sr-only Toggle navigation
    %span.fa.fa-bars
.nav.navbar{style: "margin-bottom: 9px;"}
  %a.navbar-brand{:href => "#"}
    = image_tag('MIAC_full_grey.png', style: "width: 160px; margin-top: -3%;")
  .container-fluid
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.fa.fa-bars
    .navbar-header
    .collapse.navbar-collapse.mega-menu.navbar-responsive-collapse
      .container.top_links
        %ul.nav.navbar-nav
          %li{class: (request.path == root_path ? "active" : " ")}
            = link_to root_path do
              %i.fa.fa-home.fa-lg
          %li{class: (request.path == articles_path ? "active" : " ")}
            = link_to "Новости",  articles_path
          -#%li
          -#  = link_to "Материалы", root_path
          %li.dropdown{class: request.path == statistics_path ? "active": "" }
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0);"}
              Статистика
            %ul.dropdown-menu
              %li
                = link_to "Статистика", statistics_path
              %li
                = link_to "Графики", statistics_path
              %li
                = link_to "Онлайн библиотека", statistics_path
          %li.dropdown{class: request.path == projects_path ? "active": "" }
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0);"}
              Проекты
            %ul.dropdown-menu
              %li
                = link_to "Телемедицина", projects_path
              %li
                = link_to "РМИС", projects_path
              %li
                = link_to "ДЛО", projects_path
              %li
                = link_to "Скрининг ВПЧ", projects_path
              %li
                = link_to "Оценка качества", root_path

          - if TypeOrganization.present?
            %li.dropdown.mega-menu-fullwidth
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0);"}
                Учреждения
              = render 'shared/org_top'

          %li.dropdown{class: request.path == service_path ? "active": "" }
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0);"}
              Услуги
            %ul.dropdown-menu
              %li
                = link_to "Настройка серверного оборудования", service_path
              %li
                = link_to "Проектировка сети", service_path
              %li
                = link_to "Разработка сайтов", service_path
              %li
                = link_to "Обучение", service_path
          %li{class: request.path == about_path ? "active": "" }
            = link_to "О нас", about_path
