/ .container
/ 	.topbar
/ 		%li
/ 		= link_to image_tag('MIAC_full_grey.png', style: "width: 170px; margin-top: -3%;"), root_path
/ 		/ %ul.loginbar.pull-right
/ 		/ 	%li.hoverSelector
/ 		/ 		%i.fa.fa-globe
/ 		/ 		%a Язык

/ 		/ 		%ul.languages.hoverSelectorBlock
/ 		/ 			%li{class: params[:lang].present? ? " " : "active"}
/ 		/ 				= link_to root_path do
/ 		/ 					Русский
/ 		/ 					- unless params[:lang].present?
/ 		/ 						%i.fa.fa-check
/ 		/ 			%li{class: params[:lang] == "en" ? "active" : ""}
/ 		/ 				= link_to root_path(lang: "en") do
/ 		/ 					English
/ 		/ 					- if params[:lang] == "en"
/ 		/ 						%i.fa.fa-check
/ 		/ %br

/ 	%button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
/ 		%span.sr-only Toggle navigation
/ 		%span.fa.fa-bars

	
.nav.navbar{style: "margin-bottom: 9px;"}
	%a.navbar-brand{:href => "#"}
		= image_tag('MIAC_full_grey.png', style: "width: 160px; margin-top: -3%;")
	.container-fluid
		%button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
			%span.sr-only Toggle navigation
			%span.fa.fa-bars
		 

		/ Brand and toggle get grouped for better mobile display
		.navbar-header


		.collapse.navbar-collapse.mega-menu.navbar-responsive-collapse
			.container.top_links
				%ul.nav.navbar-nav
					%li{class: (request.path == root_path ? "active" : " ")}	
						= link_to root_path do
							%i.fa.fa-home.fa-lg
					%li
						= link_to "Новости", root_path
					%li
						= link_to "Материалы", root_path
					
					/ %li.dropdown.hoverSelectorBlock
					/ 	%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0);"}
					/ 		Новости
					/ 	%ul.dropdown-menu
					/ 		%li
					/ 			= link_to "Новости", root_path
					/ 		%li
					/ 			= link_to "Инструкции", root_path
					/ 		%li
					/ 			= link_to "Файловый архив", root_path
					/ 		%li
					/ 			= link_to "Официальные документы", root_path

					%li.dropdown
						%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0);"}
							Статистика
						%ul.dropdown-menu
							%li
								= link_to "Статистика", root_path
							%li
								= link_to "Графики", root_path
							%li
								= link_to "Онлайн библиотека", root_path
					%li.dropdown
						%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0);"}
							Проекты
						%ul.dropdown-menu
							%li
								= link_to "Телемедицина", root_path
							%li
								= link_to "РМИС", root_path
							%li
								= link_to "ДЛО", root_path
							%li
								= link_to "Скрининг ВПЧ", root_path
							%li
								= link_to "Оценка качества", root_path
					%li.dropdown.mega-menu-fullwidth
						%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0);"}
							ЛПУ
						%ul.dropdown-menu
							%li
								.mega-menu-content.disable-icons
									.container{}
										.row.equal-height
											.col-md-3.equal-height-in
												%ul.list-unstyled.equal-height-list
													%li
														%h3 Областные учреждения здравоохранения
													%li
														%a{:href => "shortcode_typo_headings.html"}
															%i.fa.fa-hospital-o
															«Калужская областная клиническая больница»
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужская областная клиническая БСМП»
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужская областная детская больница»
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужская областная психиатрическая больница»	
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Областная туберкулезная больница Калужской области»	
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужский областной. клинический онкологический диспансер»
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужский областной клинический кожно-венерологический диспансер»
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Наркологический диспансер Калужскрй области»
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужский областной врачебно-физкультурный диспансер»		
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужский областной центр по профилактике и борьбе со СПИД и инфекционными заболеваниями»                	
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужский областной медицинский центр»
													%li
														%h3 Стоматологические поликлиники	
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужская областная стоматологическая поликлиника»
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужская областная детская стоматологическая поликлиника»
													%li
														%h3 Учр.скор.мед.помощи и перелив.крови	
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужская областная станция переливания крови»
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Региональный центр скорой медицинской помощи и медицины катастроф»	
											.col-md-3.equal-height-in
												%ul.list-unstyled.equal-height-list
													%li
														%h3 Поликлиники
													%li
														%a{:href => "shortcode_icon_line.html"}
															%i.fa.fa-hospital-o
															«Первая городская поликлиника им. «Кр.Креста»
													%li
														%a{:href => "shortcode_icon_glyph.html"}
															%i.fa.fa-hospital-o
															«Городская поликлиника № 6»
													%li
														%a{:href => "shortcode_icon_glyph_pro.html"}
															%i.fa.fa-hospital-o
															«Городская поликлиника № 8»
													%li
														%a{:href => "shortcode_icon_glyph_pro.html"}
															%i.fa.fa-hospital-o
															«Медсанчасть № 1»
													%li
														%a{:href => "shortcode_icon_glyph_pro.html"}
															%i.fa.fa-hospital-o
															«Медсанчасть № 2 г.Калуга»
													%li
														%a{:href => "shortcode_icon_glyph_pro.html"}
															%i.fa.fa-hospital-o
															ООО «Стоматолог»
													%li
														%h3 Учр.охраны материнства и детства
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Дом ребенка специализированный для детей» 																			
													%li
														%h3 Санаторно-курортные учреждения
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Детский  санаторий для больных туберкулезом»		
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужский санаторий «Звездный»
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужский санаторий «Спутник»		
													%li
														%h3 Медицинские организации  особого типа
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужский областной центр медицинской профилактики»		
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужское областное бюро судебно-медицинской экспертизы»
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужский областной медицинский центр «Резерв»	
													%li
														%h3 Образовательные учреждения
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Калужский базовый медицинский колледж»	
													%li
														%a{:href => "shortcode_typo_dividers.html"}
															%i.fa.fa-hospital-o
															«Медицинский техникум» г. Обнинск	
													.col-md-3.equal-height-in
											.col-md-3.equal-height-in
												%ul.list-unstyled.equal-height-list
													%li
														%h3 Городские учреждения здравоохранения
													%li
														%a{:href => "shortcode_btn_general.html"}
															%i.fa.fa-hospital-o
															«Городская больница « 2 «Сосновая роща»
													%li
														%a{:href => "shortcode_btn_brands.html"}
															%i.fa.fa-hospital-o
															«Калужская городская больница № 4»
													%li
														%a{:href => "shortcode_btn_effects.html"}
															%i.fa.fa-hospital-o
															«Калужская городская больница № 5»
													%li
														%a{:href => "shortcode_icon_general.html"}
															%i.fa.fa-hospital-o
															«Детская городская больница»
													%li
														%a{:href => "shortcode_icon_fa.html"}
															%i.fa.fa-hospital-o
															«Калужский городской родильный дом»
													%li
														%h3 Учреждения федерального подчинения 
													%li
														%a{:href => "shortcode_icon_line.html"}
															%i.fa.fa-hospital-o
															МРНЦ – филиал ФГБУ «ФМИЦ им. Герцена» МЗ РФ
													%li
														%a{:href => "shortcode_icon_glyph.html"}
															%i.fa.fa-hospital-o
															КФ ФГБУ «МНТК Микрохирургия глаза» МЗ РФ 
													%li
														%a{:href => "shortcode_icon_glyph_pro.html"}
															%i.fa.fa-hospital-o
															ФГБУ «Детский психоневрологический санаторий «Калуга-Бор» МЗ РФ
											.col-md-3.equal-height-in
												%ul.list-unstyled.equal-height-list
													%li
														%h3 Районные учреждения здравоохранения
													%li
														%a{:href => "shortcode_form_general.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Бабынинского района»
													%li
														%a{:href => "shortcode_form_general1.html"}
															%i.fa.fa-hospital-o
															«ЦРБ  Барятинского района»
													%li
														%a{:href => "shortcode_form_advanced.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Боровского района»
													%li
														%a{:href => "shortcode_form_layouts.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Дзержинского района»
													%li
														%a{:href => "shortcode_form_layouts_advanced.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Думиничского района»
													%li
														%a{:href => "shortcode_form_states.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Жиздринского района»
													%li
														%a{:href => "shortcode_form_sliders.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Износковского района»
													%li
														%a{:href => "shortcode_form_modals.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Козельского района»
													%li
														%a{:href => "shortcode_carousels.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Кировского района»
													%li
														%a{:href => "shortcode_compo_charts.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Куйбышевского района»
													%li
														%a{:href => "shortcode_maps_google.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Людиновского района»
													%li
														%a{:href => "shortcode_maps_vector.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Мосальского района»
													%li
														%a{:href => "shortcode_maps_vector.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Малоярославецкого района»
													%li
														%a{:href => "shortcode_maps_vector.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Медынского района»
													%li
														%a{:href => "shortcode_maps_vector.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Мещовского района»
													%li
														%a{:href => "shortcode_maps_vector.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Перемышльского района»
													%li
														%a{:href => "shortcode_maps_vector.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Спас-Деменского района»
													%li
														%a{:href => "shortcode_maps_vector.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Сухиничского района»
													%li
														%a{:href => "shortcode_maps_vector.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Тарусского района»
													%li
														%a{:href => "shortcode_maps_vector.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Ульяновского района»
													%li
														%a{:href => "shortcode_maps_vector.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Ферзиковского района»
													%li
														%a{:href => "shortcode_maps_vector.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Хвастовичского района»
													%li
														%a{:href => "shortcode_maps_vector.html"}
															%i.fa.fa-hospital-o
															«ЦРБ Юхновского района»
													%li
														%a{:href => "shortcode_maps_vector.html"}
															%i.fa.fa-hospital-o
															«Городская поликлиника МО «г.Кременки»
					%li.dropdown
						%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0);"}
							Услуги
						%ul.dropdown-menu
							%li
								= link_to "Настройка серверного оборудования", root_path
							%li
								= link_to "Проектировка сети", root_path
							%li
								= link_to "Разработка сайтов", root_path
							%li
								= link_to "Обучение", root_path
					%li
						= link_to "Форум", root_path
					%li{class: request.path == about_path ? "active": "" }
						= link_to "О нас", about_path
