.row

  .col-md-10.col-md-offset-1
    .panel.panel-info
      .panel-heading
        Календарь событий и задач
      .panel-body
        .row
          .col-md-12
            .row
              .col-md-12
                .pull-left
                  = link_to events_path, class: "btn btn-sm btn-primary" do
                    %i.fa.fa-home.fa-fw
                    На главную


                  -if current_user.present?
                    = link_to new_todolist_path, class: "btn btn-sm btn-primary" do
                      %glyphicon.glyphicon-plus
                      Создать задание
                    = link_to todolists_path, class: "btn btn-sm btn-primary" do
                      %i.fa.fa-list.fa-fw
                      Мои задачи

                .pull-right
                  - if current_user.present? && current_user.id == @todolist.user_id
                    = link_to edit_todolist_path(@todolist), class: "btn btn-sm btn-default" do
                      %i.fa.fa.fa-pencil.fa-fw
                      Редактировать
                    = link_to todolist_path(@todolist), method: :delete, data: { confirm: "Точно удалить?" }, class: "btn btn-sm btn-default" do
                      %i.fa.fa-trash-o.fa-fw
                      Удалить

            .row
              %br

            .row
              .col-md-4
                .well
                  %strong Автор:
                  = User.find(@todolist.user_id).username
              .col-md-4
                .well
                  %strong Исполнитель:
                  = User.find(@todolist.performer_id).username
              .col-md-4
                .well
                  %strong Приватность:
                  -if  @todolist.private == true
                    задание видно только мне
                  -elsif @todolist.private == false
                    задание видно всем

            .row
              .col-md-12

                .well
                  %strong Наименование события:

                  = @todolist.title.html_safe
            .row
              .col-md-12
                .well
                  %strong Действительно с:
                  =I18n.l @event.starts_at, format: :long
                  %strong по:
                  =I18n.l @event.ends_at, format: :long
            .row
              .col-md-12

                .well
                  %strong Подробнее о событии:
                  %br
                  = @todolist.description.html_safe








